.Register-container {
    
}

.Register-container h1 {
    text-align: center;
}

.Register-container form {
    width: 600px;

    border-radius: 8px;
    padding: 36px 24px;
    margin: auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Register-container form a {
    align-self: flex-end;
}

.Register-container form .pwd  {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register-container form .pwd .icon  {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.Register-container form input   {
    width: 80%;
    outline: 0;
    border-radius: 8px;
    padding: 10px;
    height: 36px;
    border: 1px solid gray;
}

.Register-container form button {
   width: 240px;
   margin: auto;
   padding: 12px 24px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   background-color: black;
   color: white;

}

.Register-container form button:hover {
    color: black;
    background: #ECD15D;
 }